<div class="d-flex flex-column h-100 border-end p-3">
  <div class="text-center mb-5">
    <img src="favicon.ico" alt="logo" width="50">
  </div>

  <a routerLink="/" class="btn btn-dark rounded-pill text-center mb-2">
    Home
  </a>

  <div class="mt-auto">
    <a routerLink="/login" class="btn btn-dark rounded-pill text-center mb-2 d-block">
      Iniciar sesión
    </a>

    <a routerLink="/registro" class="btn btn-primary rounded-pill text-center d-block">
      Registrarse
    </a>
  </div>
</div>
